
<div id="BlogPost">
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/BlogDetail.js" type="text/javascript"></script>

<style>
    .blog-title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .views {
        width: 150px;
        float: right;
        font-size: 13px;
        margin-top: 10px;
        font-weight: 400;
    }

    .blog-content {
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
</style>